<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.HEALTH_CONNECT"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_HEALTH_DATA"/>
    <uses-permission android:name="android.permission.WRITE_HEALTH_DATA"/>
            <uses-permission android:name="android.permission.HEALTH_CONNECT_WRITE_ACTIVITY" />
            <uses-permission android:name="android.permission.HEALTH_CONNECT_READ_ACTIVITY" />
            <uses-permission android:name="android.permission.health.WRITE_EXERCISE" />
            <uses-permission android:name="android.permission.health.WRITE_HEIGHT" />
            <uses-permission android:name="android.permission.health.WRITE_HYDRATION" />
            <uses-permission android:name="android.permission.health.WRITE_SLEEP" />
            <uses-permission android:name="android.permission.health.WRITE_WEIGHT" />
            <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BioFlow"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BioFlow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
                <action android:name="androidx.health.connect.action.VIEW_PRIVACY_POLICY"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".ReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>